{{ partial "head.html" . }}

{{ .Content }}

<ul>
<!-- Ranges through content/posts/*.md -->
{{ range .Pages }}
    <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
{{ end }}
</ul>

{{ partial "foot.html" . }}
