<!-- https://bootsnipp.com/snippets/4qgR -->
<div class="navbar navbar-expand-md navbar-light bg-light mb-4" role="navigation">
    <a class="navbar-brand" href="#"><img src="img/fablab_noText.svg" alt="" style="height:40px"> <span style="color:var(--fablab-ulb);">Fab Lab ULB</span></a>
    <button class="navbar-toggler" 
        type="button" data-toggle="collapse" 
        data-target="#navbarCollapse" aria-controls="navbarCollapse" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Home.RelPermalink }}">Home</a>
            </li>
            
            {{ range .Site.Home.Pages }}
                {{ if eq .Pages nil }}

                  {{ if ne .Params.Hiddennav true }}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>

                  {{ end }}

                {{ else }}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                            id="assignments" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">{{ .Title }}</a>
                        <ul class="dropdown-menu" aria-labelledby="assignments">
                            {{ range .Pages }}

                              {{ if ne .Params.Hiddennav true }}

                                <a href="{{ .RelPermalink }}" class="nav-link">
                                    <li class="dropdown-item">
                                        {{ .Title }}
                                    </li>
                                </a>
                              {{ end }}
                            {{ end }}
                        </ul>
                    </li>

                {{ end }}
            {{ end }}
        </ul>
            <a onclick='makeQR()'><img src="img/qr.svg" title="Get QR for this page" style="height:40px"></a>
    <script>
    function makeQR()
    {
        let qrDiv = document.getElementById("qrcode");
        let isQREmpty = qrDiv.childNodes.length > 0; //check whether qrCode was already created
        //if not, create it
        if(!isQREmpty){
          let qr = new QRCode(qrDiv, window.location.href);
          qrDiv.style="background-color:white; padding: 20px;"
        }
        //if yes, clean (/close) it
        else{
          qrDiv.innerHTML="";
          qrDiv.style="";
        }
        return false;
    }
    </script>
    </div>
</div>
<div id="qrcode" class="d-flex justify-content-center" title="close QRCode" onclick="this.innerHTML='';this.style=''"></div>
