/* from https://digitaldrummerj.me/hugo-add-copy-code-snippet-button/#add-css-and-javascript-files-to-site */
/* adapted by Nicolas H.-P. De Coster (Vigon) [2023-03-08] */

.highlight-wrapper {
  display: block;
}

/* Start: Turn off individual column border, margin, and padding when line numbers are showing */
.highlight-wrapper .lntd pre {
    padding: 0;
}

.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin : 30px 0 10px 0;
  border-radius: 4px;
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: -29px;
  font-size: 13px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0.5px;
  width: 65px;
  color: #ffffff;
  background-color: var(--fablab-ulb);
  border: 1px solid silver;
  border-radius: 4px;
  white-space: nowrap;
  padding: 6px 6px 7px 6px;
  margin: 0 0 0 1px;
  cursor: alias;
/*   opacity: 0.8; */
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #222;
  opacity: 0.8;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}
